* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  margin-top: 2rem;
  border-spacing: 3px;
  width: 90vw;
  overflow: auto;
}

thead {
  background-color: rgb(130, 242, 132);
}

.td-title {
  background-color: rgb(208, 245, 208);
}

td {
  text-align: center;
}

th {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #d2d0d0;
}

th {
  background-color: #4caf50;
  color: white;
}
td,
th {
  /* width: 150px; */
  /* height: 50px; */
}

.flex {
  display: flex;
  justify-content: center;
}

/* ant-class */
.ant-layout-header {
  width: 100%;
}
