.language-switcher {
  position: fixed;
  top: 10px;
  right: 44px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0;
}

.language-switcher button {
  background: transparent;
  border: none;
  color: var(--light-icon);
  cursor: pointer;
  font-size: 14px;
  padding: 2px 2px 0 2px;
  transition: all 0.3s ease;
}

.language-switcher button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.language-switcher button:disabled {
  border: solid 1px var(--primary);
  cursor: default;
}
