.label {
  :global {
    .ant-form-item-label {
      min-width: 30rem !important;

      label {
        font-size: 17px;
        font-weight: 600 !important;
        min-width: 30rem !important;
        height: 45px;
        cursor: pointer;
      }
    }

  }
}

.input {
  min-width: 30rem !important;
  height: 35px;
  :global {
    .ant-input-number-input-wrap {
      input {
        text-align: center;
        font-size: 17px;
        font-weight: 600 !important;
        background: white;
        min-width: 30rem !important;
        height: 35px;
      }
    }
  }
}

.img{
  object-fit: contain;
  @media screen and (max-width: 900px) {
    width: auto!important;
    height: auto!important;
    max-width: 90%;
  }
}