.label {
  :global {
    .ant-form-item-label {
      min-width: 30rem !important;

      label {
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: 600 !important;
        min-width: 30rem !important;
        height: 45px;
        cursor: pointer;
      }
    }

  }
}

.input {
  min-width: 30rem !important;
  height: 35px;
  :global {
    .ant-input-number-input-wrap {
      input {
        text-align: center;
        font-size: 17px;
        font-weight: 600 !important;
        background: white;
        min-width: 30rem !important;
        height: 35px;
      }
    }
  }
}

.select{
  height: 600px !important;
  :global{
    .rc-virtual-list-holder{
      // height: 600px !important;
      // max-height: 600px;
    }
    #shape-select_list{
      // height: 600px !important;
      // max-height: 600px;
    }
  }
}